<h1>Examination</h1>
<h2><%= @examination.name %></h2>
<div class="row"%>
  <div class="span6 offset3">
    <p>Total questions: <%= @examination.total_questions %></p>
    <p>Time limit: <%= @examination.time_limit %></p>
  </div>
</div>